# Environment Configuration
ASPNETCORE_ENVIRONMENT=Docker
ASPNETCORE_URLS=http://*:80

# Paths
LOGGER_FILES_FOLDER_PATH=../Logs
PATH_TO_COMMON_KEY_RING_FOLDER=../Keys

# URLs
UI_URL={{COMMON_UI_URL}}
ADMINISTRATION_URL={{COMMON_ADMINISTRATION_URL}}
SULS_PLATFORM_BASE_URL={{COMMON_SULS_PLATFORM_BASE_URL}}
DISTRIBUTOR_BASE_URL={{COMMON_DISTRIBUTOR_BASE_URL}}

SULS_PLATFORM_API_KEY={{COMMON_SULS_PLATFORM_API_KEY}}
SHARED_AUTH_COOKIE_DOMAIN={{COMMON_SHARED_AUTH_COOKIE_DOMAIN}}
REDIS_CONNECTION_STRING={{COMMON_REDIS_CONNECTION_STRING}}
