# Message Queue Configuration

MESSAGE_QUEUE_HOST=mq
MESSAGE_QUEUE_VIRTUAL_HOST=/
MESSAGE_QUEUE_PREFETCH_COUNT=16
MESSAGE_QUEUE_RETRY_COUNT=5
MESSAGE_QUEUE_RETRY_TIMEOUT=100
MESSAGE_QUEUE_USER={{MESSAGE_QUEUE_USER}}
MESSAGE_QUEUE_PASSWORD={{MESSAGE_QUEUE_PASSWORD}}

# Redis Configuration

REDIS_CACHE_CONNECTION_STRING={{DISTRIBUTOR_REDIS_CACHE_CONNECTION_STRING}}

# Databases Configurations

DB_SERVER={{DISTRIBUTOR_DB_SERVER}}
DB_USER={{DISTRIBUTOR_DB_USER}}
DB_PASSWORD={DISTRIBUTOR_DB_PASSWORD}}

# Internal Authentication Configuration

InternalAuthenticationConfig__Key={{DISTRIBUTOR_INTERNAL_AUTH_CONFIG_KEY}}
InternalAuthenticationConfig__Issuer={{DISTRIBUTOR_INTERNAL_AUTH_CONFIG_ISSUER}}
InternalAuthenticationConfig__Audience={{DISTRIBUTOR_INTERNAL_AUTH_CONFIG_AUDIENCE}}

JUDGE_WEB_API_KEY={{DISTRIBUTOR_JUDGE_WEB_API_KEY}}

# URLs
JUDGE_WEB_URL={{DISTRIBUTOR_JUDGE_WEB_URL}}

REMOTE_WORKER_ENDPOINTS={{DISTRIBUTOR_REMOTE_WORKER_ENDPOINTS}}
